
/* reset */
/* reset */
/* reset */

div,
dl,
dt,
dd,
ul,
ol,
p,
li,
a,
form,
fieldset,
input[type="text"],
input[type="search"],
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}


*:before,
*:after,
* {
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
    outline: none;
    border: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}