/*@import '@fontsource/fira-mono';*/
/*@import '@fontsource/open-sans';*/
/*@import '@fontsource/lato';*/
/* autoprefixer: (on|off) */

@import '_reset.css';
html,
body {
	height: 100%;
}

html {
	font-family: 'Junction';
	font-weight: 200;
}
